*{
    border: solid 1px;
}
.box{
    width: 100px;
    height: 100px;
}
.hidden {
    /* display: none !important; */
}
#titleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contentDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#loginMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#signUpMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#middlePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#textPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titleBox {
    width: 100px;
    height: 20px;
}
#contentBox {
    width: 80vw;
    height: 50vh;
}
#createButton{
    margin-top: 30px;
}
#postSaveButton{
    margin-top: 30px;
}
/* #editButtons{
    } */
/* 
#delButtons{
    width: 500px;
} */
#contentInTheBox{
    width: 500px;
    height: 300px;
}