
.hidden {
    display: none !important;
}
#titleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contentDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#loginMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#signUpMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#middlePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#textPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titleBox {
    width: 100px;
    height: 20px;
}
#contentBox {
    width: 80vw;
    height: 50vh;
}
#createButton{
    margin-top: 30px;
}
#postSaveButton{
    margin-top: 30px;
}